In [2]:
import pandas as pd

In [5]:
Exam = "Exam is less than "
Quize = "Quiz weightage greater"
Test = "Test is less than"
cols = ['Exam', 'Quize', 'Test']
Rule_Violation = {"c1":cols,"Rules":[Exam,Quize,Test]}
Rule_Violation = pd.DataFrame(Rule_Violation)

In [6]:
Rule_Violation

      c1                   Rules
0   Exam      Exam is less than
1  Quize  Quiz weightage greater
2   Test       Test is less than

In [7]:
rules_df = pd.read_excel('rules.xlsx', 'id_1')

In [8]:
rules_df

  assessment  lower  higher                                    violation
0       Quiz      1       4    Quiz weightage should be between 1% to 4%
1       Test      5      24   Test weightage should be between 5% to 24%
2       Exam     25      40  Exam weightage should be between 25% to 40%

In [9]:
rules_df[rules_df['assessment']=='Exam']['violation'].to_string(index=False)

'Exam weightage should be between 25% to 40%'