In [1]:
import pandas as pd
import PyPDF2

In [3]:
pdfFileObj = open('dab_106.pdf', 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [4]:
# create page object and extract text
pageObj = pdfReader.getPage(3)
page1 = pageObj.extractText()
page_blob = pageObj.extractText()

In [5]:
output = ""
for i in range(pdfReader.numPages):
    pageObj = pdfReader.getPage(i)
    output += pageObj.extractText()

In [6]:
page1 = output

In [7]:
page1

'Course ID: 030277 Academic Year: 2021/22\nCourse Description:\nThis course provides students with a high-level overview of the broad field of Artificial\nIntelligence (AI). Students will explore some basic definitions and concepts and will learn to\ndistinguish between the various branches that make up AI.\xa0 This course outlines the history of AI,\nfocusing on major developments and reasons behind its current resurgence.\xa0 The bulk of the course\nwill be spent on understanding the core elements of AI systems.\nPre-Requisites: Category: Vocational None\nCo-Requisites: Course Credits: 3.00 None\nSpecial Conditions: Academic Level: Credit (Post Sec) None\nInstructional Hours: Classroom Instruction 30\nLaboratory/Workshops 15\nOther 0\nTotal Hours 45\nAcademic Department:\nWindsor: Zekelman School of Information Technology\n      Chair:\nChatham:\n      Chair:\nRevised By: Harpreet Virk\nLast Revision: 2022/01/20\nCourse Outline\nDAB 106 Introduction to Artificial Intelligence\nPage  1 ©St. Clair College of Applied Arts and Technology Thursday, September 01, 2022Required Tools, Equipment, and Learning Resources:\n- Intel I7 or AMD A10 processor or better with chipset that must\nsupport virtualization\n· 16 GB of RAM\n· 1 TB hard drive\n· Ethernet Network Card\n· Wireless Network Card\n· One USB 3.0 port (two preferred)\n· 3 Yr comprehensive parts and labour (Recommended)\nThe text book(s) will be part of the course material.\nSoftware requirements\n· Windows 10 Professional Edition\nEssential Employability Skills (EES):\n \nDescription Teach Assess\n ✗ ✗ 1)Communication: Communicate clearly, concisely and\ncorrectly in the written, spoken, and visual form that\nfulfills the purpose and meets the needs of the\naudience.\n 2)Communication: Respond to written, spoken, or visual\nmessages in a manner that ensures effective\ncommunication\n 3)Numeracy: Execute mathematical operations accurately\n ✗ ✗ 4)Critical Thinking: Apply a systematic approach to solve\nproblems\n ✗ ✗ 5)Critical Thinking: Use a variety of thinking skills to\nanticipate and solve problems\n 6)Information Management: Locate, select, organize, and\ndocument information using appropriate technology and\ninformation systems\n ✗ ✗ 7)Information Management: Analyze, evaluate and apply\nrelevant information from a variety of sources\n ✗ ✗ 8)Interpersonal: Show respect for the diverse opinions,\nvalues, belief systems, and contributions of others\n ✗ ✗ 9)Interpersonal: Interact with others in groups or teams\nin ways that contribute to effective working\nrelationships and the achievement of goals\n ✗ ✗ 10)Personal: Manage the use of time and other resources to\ncomplete projects\n 11)Personal: Take responsibility for one\'s own actions,\ndecision and consequences\n \nCourse Learning Outcomes (CLO):DAB 106 Introduction to Artificial Intelligence\n \nPage  2 ©St. Clair College of Applied Arts and Technology Thursday, September 01, 2022Upon successful completion of this course, the student will be able to:\n(EKS = Embedded Knowledge and Skills)\n \n•Examine the key components of Artificial Intelligence (AI) systems (CLO #1)\nEKS:\n•Provide definitions, Concepts, Terminology, and examples of artificial intelligence\n \n•Explain What AI is, why it\'s important, and how AI will impact the different industry\nsectors and society as a whole.\n \n•Discuss the tools, technology, and trends driving the AI revolution.\n \n•Discuss intelligent agent, environment, and state\n \n•Describe applications of AI and what it takes to introduce AI to an organization\nsuccessfully.\n \n \n•Summarize the fundamental philosophical/ethical issues, strategy, workloads, and\nconsiderations related to the development and application of Artificial Intelligence (CLO\n#2)\nEKS:\n•Identify features of common AI workloads\n \n•Discuss explainable AI (XAI) and it is the importance\n \n•Explain the importance of ethical implementations and how to avoid bias in AI\n \n•Identify guiding principles for responsible AI\n \n \n•Describe fundamental principles of machine learning (CLO #3)\nEKS:\n•Identify common machine learning types\n \n•Describe core machine learning concepts\n \n•Identify core tasks in creating a machine learning solution\n \n•Describe capabilities of no-code machine learning with Azure Machine Learning studio\n \n \n•Describe features of computer vision, Natural Language Processing, and conversational\nworkloads on Azure (CLO #4)\nEKS:\n•Discuss common types of the computer vision solution\n \n•Explain Azure tools and services for computer vision tasks\n \n•Identify features and uses for key phrase extraction, entity recognition, sentiment\nanalysis, translation\n \n•Identify tools and services capabilities of the Text Analytics service, LUIS, Speech\nservice and Translator Text service\n \n•Discuss everyday use cases for conversational AI\n \n•Identify Azure services for conversational AI\n \n \n•Analyze current applications of Artificial Intelligence (CLO #5)DAB 106 Introduction to Artificial Intelligence\n \nPage  3 ©St. Clair College of Applied Arts and Technology Thursday, September 01, 2022EKS:\n•Outline the problem being solved\n \n•Describe the AI solution\n \n•Explain the core AI concepts being implemented\n \n•Gauge the impact of this solution on the business or organization\n \n \nTeaching/Learning Activities:\nLecture / Discussion\nIndividual / Group Classroom Exercises\nAssessment:\nStandard/Traditional Delivery\nOverall Assessment Notes: Lecture / Discussion\nIndividual / Group Classroom Exercises\n \n  20.00% •Assignments\n \nFrequency: 4-6\n Description: Independent/group research, writing, or coding assignments\nwhereby the student can demonstrate an appropriate understanding\nof the course concepts.\n Outcomes Assessed: 1, 2, 3, 4, 5\nEES Assessed: 1, 5, 7, 8, 9, 10\n  25.00% •Exam 1\n \nFrequency: 1\n Description: The exam will contain application exercises, including\nmultiple-choice questions, true/false, and short answer\nquestions.\n Outcomes Assessed: 1, 2, 3\nEES Assessed: 1, 5, 7\n  25.00% •Final Exam\n \nFrequency: 1\n Description: A final exam that covers all the concepts presented throughout\nthe semester. Multiple choice and short answer.\n Outcomes Assessed: 1, 2, 3, 4, 5\nEES Assessed: 1, 5, 7\n  20.00% •Project\n \nFrequency: 2\n Description: Independent/group hands-on project that involves implementing\nelements of artificial intelligence in code and/or hardware.\nStudent(s) will demonstrate an appropriate level of understanding\nof the course concepts by writing a detailed project report.\n Outcomes Assessed: 1, 2, 3, 4, 5\nEES Assessed: 1, 5, 7, 9, 10\n  10.00% •Quizzes\n \nFrequency: 5-7DAB 106 Introduction to Artificial Intelligence\n \nPage  4 ©St. Clair College of Applied Arts and Technology Thursday, September 01, 2022 Description: Short in-class assignments/questions based on lecture content,\nassigned reading, and homework on a given topic will be\nadministered in class; 3-5 questions.\n Outcomes Assessed: 1, 2, 3, 4, 5\nEES Assessed: 1, 5, 7\n _____\n100%\nNote: The assessment listed in this outline represents the planned assessment method for this course.\nUnanticipated conditions during the delivery of the course may necessitate changes to the planned\nassessment.  Students will receive reasonable advance notice should any changes be necessary.\n \n \nGrading:\nA=80-100%\nB=70-79%\nC=60-69%\nD=50-59%\nF=Less than 50%\nCourse Content:\n"Academic misconduct, including cheating of any form, will not be tolerated.  Consequences may include, but are\nnot limited to, a warning, a grade of "0" on the assignment/test/examination, or a failing grade in the course."\n(Code of Students Rights and Responsibilities:  Section 7.1.6)\nAll students and employees of this College have a right to study and work in an environment that is free from\nharassment and discrimination.\nAccommodation Statement\nThe College will provide supports and services to all students with disabilities, both temporary and permanent, with valid supporting documentation.  Interim\naccommodation requests will be received in good faith and can be provided pending receipt of medical documentation.  Retroactive accommodations will be\nconsidered based on the unique circumstances of the individual matter.  The College will give all Human Rights Code-related requests for accommodation\nmeaningful consideration.\nProcedure:  The student is responsible to meet with a counsellor in Accessibility Services to discuss their functional limitations and accommodation needs \nand provide Accessibility Services with supporting documentation.  Students are not required under the Ontario Human Rights Code to disclose their \ndisability diagnosis (with the exception of Learning Disabilities) to receive accessibility supports and services and/or academic accommodations.  \nStudents are encouraged to meet with a counsellor prior to the start of a semester to provide information and arrange accommodations.DAB 106 Introduction to Artificial Intelligence\n \nPage  5 ©St. Clair College of Applied Arts and Technology Thursday, September 01, 2022'

In [8]:
course_name = page1.replace('\n \n',', ').replace('\n','')
course_name = course_name.split('Course Outline')
course_name = course_name[1].split('Page  1')
course_name = course_name[0]
course_name

'DAB 106 Introduction to Artificial Intelligence'

In [9]:
# strip away page header
page1 = page1[25:]

# insert commas to separate variables and then remove excess strings
page1 = page1.replace('\n \n',', ').replace('\n','')

In [10]:
page1 = page1.split(',')

In [11]:
s = pd.Series(page1)
out = (s.str.extractall(r'(?P<Object>Assignments|Exam 1|Exam 2|Exam 3|Exam|Project|Quizzes|Final Exam)|(?P<Weight>\d+.00)|(?P<Frequency>Frequency: \d+)')
       .groupby(level=0).first()
       )
df = pd.DataFrame(out)
df

          Object Weight     Frequency
1           None   3.00          None
25          Exam   None          None
71   Assignments  20.00          None
72          None   None  Frequency: 4
83        Exam 1  25.00          None
84          None   None  Frequency: 1
91    Final Exam  25.00          None
92          None   None  Frequency: 1
98       Project  20.00          None
99          None   None  Frequency: 2
107      Quizzes  10.00          None
108         None   None  Frequency: 5

In [12]:
'''out = (pd.Series(page1)
       .str.extract(r'(?P<Weight>\d+.00%)\W*(?P<Object>\w+)')
       .dropna(subset='Object')
      )

print(out)'''

"out = (pd.Series(page1)\n       .str.extract(r'(?P<Weight>\\d+.00%)\\W*(?P<Object>\\w+)')\n       .dropna(subset='Object')\n      )\n\nprint(out)"

In [13]:
df['Frequency'] = df.Frequency.shift(-1)
#df

In [14]:
df = df.dropna()
#df

In [15]:
df

          Object Weight     Frequency
71   Assignments  20.00  Frequency: 4
83        Exam 1  25.00  Frequency: 1
91    Final Exam  25.00  Frequency: 1
98       Project  20.00  Frequency: 2
107      Quizzes  10.00  Frequency: 5

In [16]:
df['Frequency'] = df['Frequency'].str.extract('(\d+)').astype(int)
df['Weight'] = df['Weight'].astype(float)
#df

C:\Users\rites\AppData\Local\Temp\ipykernel_9172\1332641898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Frequency'] = df['Frequency'].str.extract('(\d+)').astype(int)
C:\Users\rites\AppData\Local\Temp\ipykernel_9172\1332641898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight'] = df['Weight'].astype(float)

In [17]:
df['Weight per Object'] = df.Weight/df.Frequency

C:\Users\rites\AppData\Local\Temp\ipykernel_9172\3609157279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight per Object'] = df.Weight/df.Frequency

In [ ]:
Rule Violation = {'Quize':'Quiz weightage '}

In [18]:
df['Flag'] = ((df['Object'].str.contains('Quiz', regex=True)) & (abs(df['Weight per Object']) <= 4)) | ((df['Object'].str.contains('Exam', regex=True)) & (df['Weight per Object'] >= 25) & (df['Weight per Object'] <= 40)) | ((df['Object'].str.contains('Test', regex=True)) & (df['Weight per Object'] >= 5) & (df['Weight per Object'] <= 24))
df

C:\Users\rites\AppData\Local\Temp\ipykernel_9172\834351203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Flag'] = ((df['Object'].str.contains('Quiz', regex=True)) & (abs(df['Weight per Object']) <= 4)) | ((df['Object'].str.contains('Exam', regex=True)) & (df['Weight per Object'] >= 25) & (df['Weight per Object'] <= 40)) | ((df['Object'].str.contains('Test', regex=True)) & (df['Weight per Object'] >= 5) & (df['Weight per Object'] <= 24))

          Object  Weight  Frequency  Weight per Object   Flag
71   Assignments    20.0          4                5.0  False
83        Exam 1    25.0          1               25.0   True
91    Final Exam    25.0          1               25.0   True
98       Project    20.0          2               10.0  False
107      Quizzes    10.0          5                2.0   True

In [17]:
df['Desc'] = str(df['Weight']) + str("Hello")

C:\Users\rites\AppData\Local\Temp\ipykernel_6916\848595481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Desc'] = str(df['Weight']) + str("Hello")

In [15]:
#print(df[df['Flag']==False])

In [16]:
output = ""
for i in range(pdfReader.numPages):
    pageObj = pdfReader.getPage(i)
    output += pageObj.extractText()
page1 = output

In [17]:
page1 = page1.replace('\n \n \n•','>>>').replace(')\n \n•', '>>>').replace('\n \n•', '>').replace('\n•','>').replace('\nEKS:', '')

In [18]:
page1 = page1.split('>>>')
#page1

In [19]:
del page1[0]
#page1

In [21]:
clo1 = page1[0].split('>')
#clo1

In [31]:
clo1[0]

'Examine the key components of Artificial Intelligence (AI) systems (CLO #1)'

In [22]:
sep = ' '
clo1_verbs = []
for i in range(len(clo1)):
    x = clo1[i].split(sep, 1)[0]
    clo1_verbs.append(x)

In [23]:
word_list = pd.read_excel('word_list.xlsx')
#word_list.head()

In [24]:
scores = []

for i in range(len(clo1_verbs)):
    if word_list['1'].str.contains(clo1_verbs[i]).any():
        scores.append(1)
    elif word_list['2'].str.contains(clo1_verbs[i]).any():
        scores.append(2)
    elif word_list['3'].str.contains(clo1_verbs[i]).any():
        scores.append(3)
    elif word_list['4'].str.contains(clo1_verbs[i]).any():
        scores.append(4)
    elif word_list['5'].str.contains(clo1_verbs[i]).any():
        scores.append(5)
    elif word_list['6'].str.contains(clo1_verbs[i]).any():
        scores.append(6)
    else:
        scores.append(0)

#print(scores)

In [25]:
clo1_df = {'Verbs': clo1_verbs, 'Scores': scores}
clo1_df = pd.DataFrame(clo1_df)
clo1_df

      Verbs  Scores
0   Examine       4
1   Provide       0
2   Explain       2
3   Discuss       2
4   Discuss       2
5  Describe       1

In [87]:
clo1_df['Dist'] = abs(clo1_df['Scores'][0] - clo1_df['Scores'])
clo1_df

      Verbs  Scores  Dist
0   Examine       4     0
1   Provide       0     4
2   Explain       2     2
3   Discuss       2     2
4   Discuss       2     2
5  Describe       1     3

In [90]:
bloom_violations = clo1_df[clo1_df['Dist'] >= 2][1:]

In [92]:
bloom_violations[['Verbs', 'Dist']][1:]

      Verbs  Dist
3   Discuss     2
4   Discuss     2
5  Describe     3

In [27]:
print("Word which does not exist in Bloom's Conginitive Domain list:")
print(clo1_df[clo1_df['Scores'] == 0])

Word which does not exist in Bloom's Conginitive Domain list:
     Verbs  Scores
1  Provide       0

In [28]:
print("Assessments Violations")
print(df[df['Flag']==False])

Assessments Violations
         Object  Weight  Frequency  Weight per Object   Flag
71  Assignments    20.0          4                5.0  False
98      Project    20.0          2               10.0  False

In [29]:
df[['Object', 'Flag']]

          Object   Flag
71   Assignments  False
83          Exam   True
91    Final Exam   True
98       Project  False
107      Quizzes   True

In [74]:
rules = pd.read_excel('rules.xlsx', index_col='Rule No.')

In [75]:
rules

                                  Assessmet Validation Rule
Rule No.
1         An assessment value between 1% and 4% should b...
2         An assessment value between 5% and 24% should ...
3         An assessment value between 25% and 40% should...